//SPACE BETWEEN FIELDS
.space {
    padding-bottom: 20px;
}

.spacemore {
    padding-bottom: 30px;
}

//TITLE
.mainheading {
    color: #00818A;
    font-family: 'Noto Sans';
    font-size: 22px;
    margin-left: 600px;
}

h5 {
    color: #00818A;
    font-family: 'Noto Sans';
    font-size: 22px;
    padding-left: 350px;
}

.nameposition {
    float: right;
}

.boldtext {
    font-weight: bold;
}


//TABLE HEADER
::ng-deep .p-datatable .p-datatable-thead>tr>th {
    background-color: #C9E5E6;
}


::ng-deep .p-datatable-header.ng-star-inserted {
    background-color: white;
    border-width: 0px;
    border-color: white;
}

::ng-deep .p-datatable .p-datatable-tbody {
    border-left: 2px solid teal;
    border-right: 2px solid teal;
    border-bottom: 2px solid teal;
}

::ng-deep .p-datatable .p-datatable-thead {
    border-left: 2px solid teal;
    border-right: 2px solid teal;
    border-top: 2px solid teal;
}

//OVERALL MARGIN
#project {
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
}


//SEARCH BAR
.searchbar {
    float: left;
    width: 200px;
}

.searchbox {
    width: 350px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.searchbox:hover {
    cursor: text;
}

//ALL RECORDS CHECKBOX
.showInActive {
    width: fit-content;
    margin-top: 5px;
}

.inActiveLabel {
    font-weight: 500;
    margin-left: 5px;
    margin-right: 52px;
}

//SPACING 
.searchDiv {
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.practiceHeader {
    margin-top: 10px;
}

.p-input-icon-left>i,
.p-input-icon-right>i {
    position: absolute;
    top: 36%;
    margin-top: -0.5rem;
    padding-left: 8px;
}

//PAGINATION
::ng-deep .p-paginator .p-paginator-current {
    background-color: #ffffff;
    border: 0px;
    color: black;
    min-width: 2.357rem;
    height: 2.357rem;
}

::ng-deep .p-paginator-rpp-options {
    width: 56.6px;
    height: 36.6px !important;
}

::ng-deep .p-paginator-rpp-options>.p-element.p-dropdown-label.p-inputtext {
    padding-top: 5px;
    padding-left: 8px;
}

::ng-deep .p-paginator-rpp-options>.p-dropdown-trigger {
    width: 19px;
    height: 24px;
    padding-top: 13px;
    padding-right: 12px;
}

::ng-deep .p-paginator-pages>.p-paginator-page.p-paginator-element.p-link.p-highlight {
    min-width: 2.4rem;
    height: 2.4rem;
}

//FIELDS
.addFormArray {
    width: 100%;
}

.field-checkbox {
    display: flex;
    flex-direction: column;
}

.radiobtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.deleteBtn {
    cursor: pointer;
    background: none;
    border: none;
}

.deleteBtn:disabled {
    cursor: not-allowed;
    background: none;
    border: none;
}

.cancelBtn,
.updateBtn {
    width: fit-content;
}

.editBtn,
.addChild {
    cursor: pointer;
    background: none;
    border: none;
}

.mainDiv {
    height: 50vh;
}

//CARD
.addCard {
    width: 50%;
    max-width: 800px;
    border-color: teal;
}

.addCardHeader {
    background-color: #C9E5E6;
    color: black;
    font-weight: 500;
    font-family: Arial;
    font-size: 18px;
}

.editMainDiv {
    height: 50vh;
}

.editCard {
    width: 50%;
    max-width: 800px;
    border-color: teal;
}

.editCardHeader {
    background-color: #C9E5E6;
    color: black;
    font-weight: 600;
}

.radioLabel {
    margin-left: 5px;
}

.category {
    padding-left: 0;
    padding-right: 0%;
}

.card {
    margin: auto;
    margin-top: 20px;
}

.form-label {
    font-weight: 400;
    color: black;
    font-family: Arial;
    font-size: 14px;
}

.checkBox-field {
    margin-top: 5%;
}

.yellow {
    width: auto;
    background-color: #FFF2E2;
    color: #CC8925
}

.green {
    width: auto;
    background-color: #E4F8F0;
    color: #1EA97C;
}

.red {
    width: auto;
    background-color: #FFE7E6;
    color: #FF5757;
}

.red .icon::before {
    font-family: 'primeicons';
    content: "\e90c";
    font-size: larger;
}

.yellow .icon::before {
    font-family: 'primeicons';
    content: "\e922";
    font-size: larger;
}

.green .icon::before {
    font-family: 'primeicons';
    content: "\e909";
    font-size: larger;
}

.icon::before {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
}

.totalWeightage {
    margin-top: 2.5%;
    font-weight: 500;
    width: fit-content;
}

.btn-add {
    margin-top: 10px;
}

.btn-delete {
    margin-top: 30px;
}

.btn-save,
.btn-reset {
    margin-top: 5px;
    width: fit-content;
    background-color: #009CA6;
    color:white;
    border-radius:0px;
    border-width: 1px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;

}

.btn-save:hover{
    background-color: #00818A;
    color:white;
    border-radius:0px;
    border-width: 1px;
    font-size: 14px;
    padding: 5px 10px 5px 10px
}

.saveDiv,
.resetDiv,
.addDiv {
    width: fit-content;
}

//SHOW ALL RECORDS CHECKBOX
.activeRecords {
    float: right;
    padding-left: 20px;
    margin-top: 20px;
    margin-right: -10px;
}

//TABLE COL WIDTH
.columnwidth {
    width: 30%;
}


//trial grid
::ng-deep .p-datatable-resizable .p-datatable-thead>tr>th {
    padding-block: unset;
}

::ng-deep .p-datatable-resizable .p-datatable-tbody>tr>td {
    padding-block: unset;
    // padding: 0px;


}

::ng-deep.p-datatable table {
    width: max-content;
}

.txtwidth {
    margin-left: -40px;
}

.txtpadding {
    padding-top: 4px;
    padding-bottom: 4px;
}

::ng-deep .txtpadding.ng-touched.ng-invalid {
    border-color: 1px solid red;
    border-color: red;
}

::ng-deep .p-dropdown.ng-touched.ng-invalid {
    border-color: 1px solid red;
    border-color: red;
}

// ::ng-deep p-inputtext.p-component.p-element.txtwidth.txtpadding.ng-invalid.ng-touched.ng-dirty {
//     border-color: 1px solid red;
// }

::ng-deep p-dropdown.ng-invalid.ng-touched>div.p-dropdown.p-component {
    border: 1px solid red;
}

::ng-deep span.p-dropdown-label.p-inputtext.p-placeholder {
    padding-top: 8px;
    padding-bottom: 8px;
}

::ng-deep span#pr_id_3_label.p-element.p-dropdown-label.p-inputtext {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}